---
import Image from "astro/components/Image.astro";
import MainLayout from "../layouts/MainLayout.astro";

import logo from "../assets/logo.png";
---

<MainLayout title="About">
  <main class="py-12">
    <div class="mx-auto flex w-1/2 flex-col items-center gap-4 space-y-4">
      <Image src={logo} alt="catppuccin logo" width={250} height={100} />
      <h2 class="text-2xl">
        Hey, I'm <span
          class="text-primary font-serif font-bold underline underline-offset-8"
          >Shubham Giri!</span
        >
      </h2>
      <p class="text-center text-lg">
        Web/Software developer with a deep interest in building efficient,
        scalable solutions. With expertise in various programming languages and
        tools, I specialize in writing clean, maintainable code, and
        continuously strive to learn new technologies. My GitHub <a
          href="https://github.com/xshubhamg"
          class="hover:text-primary text-secondary font-serif underline hover:font-bold"
          >@xshubhamg</a
        > showcases my open-source contributions and projects. I enjoy solving complex
        problems, whether it's through development or optimizing workflows. In my
        free time, I love to explore and learn new things about my environment and
        the tools i use.
      </p>
    </div>
  </main>
</MainLayout>
