---
import Image from "astro/components/Image.astro";
import fastfetch from "../assets/preview/preview-fastfetch.png";
---

<main
  class={`py-10 text-black bg-gradient-to-r from-blue from-20%  via-mauve via-30% to-red`}
>
  <div class="container mx-auto flex flex-col justify-center gap-8 py-8">
    <section
      class="flex flex-col items-center justify-center gap-6 text-center"
    >
      <h1 class="font-serif text-4xl font-bold">Welocome To dotcat</h1>
      <p class="text-lg">
        Yet Another <a
          class="font-serif text-sm font-bold hover:underline"
          href="https://archlinux.org">Arch</a
        > & <a
          class="font-serif text-sm font-bold hover:underline"
          href="https://hyprland.org">hyprland</a
        >
        rise based on <a
          class="font-serif text-sm font-bold hover:underline"
          href="https://catppuccin.com">catppuccin mocha</a
        > colorscheme
      </p>
      <button class="btn btn-lg btn-primary border border-black hover:shadow-lg"
        >Get Started</button
      >
    </section>
    <Image
      src={fastfetch}
      loading="eager"
      class="mx-auto w-4/5 rounded-md border-2 shadow-md shadow-black"
      alt="fastfetch"
    />
  </div>
</main>
