---
import MainFooter from "../components/MainFooter.astro";
import MainHeader from "../components/MainHeader.astro";
import MouseMoveEffect from "../components/ui/MouseMoveEffect";
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Playwrite+VN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>dotcat ~/{title}</title>
  </head>
  <body>
    <MouseMoveEffect client:load />
    <div class="font-sans">
      <MainHeader />
      <slot />
      <MainFooter />
    </div>
  </body>
</html>
