---
import Navlink from "./Navlink.astro";
---

<ul class="flex items-center border-r gap-6 px-6">
  <li class="">
    <Navlink href="/" text="Home" />
  </li>
  <li>
    <Navlink href="/docs" text="Docs" />
  </li>
  <li>
    <Navlink href="/about" text="About" />
  </li>
</ul>
