---
export interface Props {
  href: string;
  text: string;
  isActive?: boolean;
}

const currentPath = new URL(Astro.request.url).pathname;
const { href, text, isActive = currentPath === href } = Astro.props;
---

<a
  href={href}
  class={`font-serif  hover:text-primary ${isActive ? "text-primary font-bold underline underline-offset-16" : ""}`}
  aria-label={text}
>
  {text}
</a>
